$main-background-color: #ffffff;
$second-background-color: #2f303a;
$logo-text-color: #000000;
$title-text-color: #212121;
$main-text-color: #757575;
$accent-color: #2196f3;
$foter-link-color: rgba(255, 255, 255, 0.6);
$primary-button-bcgcolor: #188ce8;
$secondary-button-bcgcolor: #f5f4fa;
$overlay-color: rgba(47, 48, 58, 0.4);
$second-overlay-color: rgba(47, 48, 58, 0.8);
$icon-color: #afb1b8;
$footer-icon-color: rgba(255, 255, 255, 0.1);
$portfolio-cards-border: #eeeeee;
$backdrop: rgba(0, 0, 0, 0.2);
$overlay-cards-color: rgba(33, 150, 243, 0.9);
$form-border-footer-color: rgba(255, 255, 255, 0.3);
$modal-border-color: rgba(33, 33, 33, 0.2);
$modal-textarea-color: rgba(117, 117, 117, 0.5);
