.features {
  display: flex;

  &__div {
    display: flex;

    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $secondary-button-bcgcolor;
    border-radius: 4px;
  }
  &__item {
    width: 270px;
    margin-right: 30px;
  }
  &__item--last {
    margin-right: 0;
  }
  &__title {
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
