.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $second-background-color;

  &__item {
    text-align: center;

    &:not(:last-child) {
      
      @media screen and (max-width:767px) {
        margin-bottom: 60px;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 70px;
      }
      
    }
    
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;

      width: 231px;

      text-align: left;
    }

  }

  &__group {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      align-items: baseline;
      margin-bottom: 0;
    }
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;

  color: $main-background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-form {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $main-background-color;
  }

  &__form {
    align-items: center;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__label {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

.footer-form__input {
  width: 450px;
  // width: 358px;
  padding: 15px 16px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;

  color: $foter-link-color;

  background-color: transparent;
  border: 1px solid $form-border-footer-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: $foter-link-color;
  }
}
