.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $second-background-color;

  &__item {
    margin-right: 70px;
  }

  &__item--second {
    margin-right: 93px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: $main-background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-form {
  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $main-background-color;
  }

  &__form {
    display: flex;

    align-items: center;
  }

  &__label {
    display: inline-block;
  }
}

.footer-form__input {
  width: 358px;
  padding: 15px 16px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;

  color: $foter-link-color;

  background-color: transparent;
  border: 1px solid $form-border-footer-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: $foter-link-color;
  }
}
