.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(to right, $overlay-color, $overlay-color),
    url(../images/hero-tel-img.jpg);
  background-size: 480px 400px;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, $overlay-color, $overlay-color),
    url(../images/hero-tabl-img.jpg);
    background-size: 768px 400px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, $overlay-color, $overlay-color),
    url(../images/hero-desk-img.jpg);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    @media screen and (max-width:767px) {
      background-image: linear-gradient(to right, $overlay-color, $overlay-color),
      url(../images/hero-tel-img@2x.jpg);
    }
    @media screen and (max-width:1199px) {
      background-image: linear-gradient(to right, $overlay-color, $overlay-color),
        url(../images/hero-tabl-img@2x.jpg);
    }
    @media screen and (min-width:1200px) {
      background-image: linear-gradient(to right, $overlay-color, $overlay-color),
        url(../images/hero-desk-img@2x.jpg);
    }
  }

  &__title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: $main-background-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
