.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background-color: $backdrop;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  background: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: $title-text-color;
  }

  &__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: $main-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: $logo-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__btn-close:hover &,
  .modal__btn-close:focus & {
    fill: $accent-color;
  }
}

.modal-form {
  text-align: left;

  &__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__field--textarea {
    margin-bottom: 20px;
  }
  &__text {
    display: block;
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $main-text-color;
  }
}

.modal-form__input {
  display: block;

  width: 100%;

  padding: 10px 42px;

  border: 1px solid $modal-border-color;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-color;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    fill: $accent-color;
  }
}

.modal-form__textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;

  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $modal-textarea-color;

  border: 1px solid $modal-border-color;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: $modal-textarea-color;
  }
}

.checkbox {
  display: inline-block;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__link {
    text-decoration: underline;

    color: $accent-color;
  }
}

.checkbox__icon {
  display: inline-block;
  position: relative;
  top: 3px;

  width: 15px;
  height: 15px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__input:checked + & {
    box-sizing: border-box;
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
  }

  .checkbox__input:focus + & {
    border-color: $accent-color;
  }
}

.modal-form__btn {
  display: block;

  padding: 10px 55px;
  margin: 0 auto;

  border-radius: 4px;
  border-color: $accent-color;

  color: $main-background-color;
  background-color: $accent-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-button-bcgcolor;
    border-color: $primary-button-bcgcolor;
  }
}
