/* main background  #FFFFFF; */
/* second background #2F303A; */
/* logo text #000000 */
/* second text #212121 */
/* main text #757575 */
/* active #2196F3 */
:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --logo-text-color: #000000;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --foter-link-color: rgba(255, 255, 255, 0.6);
  --primary-button-bcgcolor: #188ce8;
  --secondary-button-bcgcolor: #f5f4fa;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Utilites */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
  /* outline: 1px solid red; */
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-span {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Site nav */

.main-nav {
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header-contacts .item {
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--second-background-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  outline: 1px solid red;

  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.primary-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: 1px solid red;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--primary-button-bcgcolor);
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* Features */
.section.features {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  outline: 1px solid red;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .description {
  margin: 0;
}

/* What we do */
.we-do-list {
  display: flex;
}

.we-do-list .item + .item {
  margin-left: 30px;
}

/* Our team */
.our-team {
  background-color: var(--secondary-button-bcgcolor);
}

.team-list {
  display: flex;
}

.team-list .item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .img {
  margin-bottom: 30px;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-background-color);
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
}

.footer .text {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--main-background-color);
}

.footer .item + .item {
  margin-top: 9px;
}

.footer .link {
  display: block;

  color: var(--foter-link-color);

  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.adress {
  font-style: inherit;
}

/* Portfolio */

.portfolio-title {
  color: var(--main-background-color);
  background-color: var(--second-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Filter */

.secondary-button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--secondary-button-bcgcolor);
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .item + .item {
  margin-left: 8px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.cards-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 120px) / 3);

  /* outline: 1px solid red; */
}

/* .cards-list .item:nth-child(3n) {
  margin-right: 0;
} */

/* .cards-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0; }*/

.cards-list .img {
  display: block;
}

.cards-list .title-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.cards-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* outline: 1px solid red; */
}

.cards-list .text {
  margin: 0;

  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
