:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --logo-text-color: #000000;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --foter-link-color: rgba(255, 255, 255, 0.6);
  --primary-button-bcgcolor: #188ce8;
  --secondary-button-bcgcolor: #f5f4fa;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --we-do-overlay: rgba(47, 48, 58, 0.8);
  --icon-color: #afb1b8;
  --bcg-footer-icon: rgba(255, 255, 255, 0.1);
  --portfolio-cards-border: #eeeeee;
  --backdrop: rgba(0, 0, 0, 0.2);
  --overlay-cards-color: rgba(33, 150, 243, 0.9);
  --form-border-footer-color: rgba(255, 255, 255, 0.3);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-textarea-color: rgba(117, 117, 117, 0.5);
}

/* Utilites */

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.container--flex {
  display: flex;
  align-items: center;
}

.container--footer {
  display: flex;
  align-items: baseline;
}

/* Logo */

.logo {
  margin-right: 93px;

  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo__span {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Site nav */

.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item--last {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);

  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header-contacts__item {
  margin-right: 50px;
}

.header-contacts__item--last {
  margin-right: 0;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;

  fill: currentColor;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;

  background-image: linear-gradient(to right, var(--overlay-color), var(--overlay-color)),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;

  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-flex;
  align-items: center;

  border-radius: 4px;
  border-color: var(--accent-color);

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn {
  padding: 10px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--primary-button-bcgcolor);
  border-color: var(--primary-button-bcgcolor);
}

.footer-form__btn {
  padding: 10px 28px;
  margin-left: 12px;
}

.btn__icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background-color: var(--backdrop);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-close:hover .modal__icon,
.modal__btn-close:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: var(--logo-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.modal-form {
  text-align: left;
}

.modal-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form__field--textarea {
  margin-bottom: 20px;
}

.modal-form__text {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.modal-form__input {
  display: block;

  width: 100%;

  padding: 10px 42px;

  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;

  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--modal-textarea-color);

  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.modal-form__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--modal-textarea-color);
}

.checkbox {
  display: inline-block;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  position: relative;
  top: 3px;

  width: 15px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  box-sizing: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.checkbox__input:focus + .checkbox__icon {
  border-color: var(--accent-color);
}

.checkbox__link {
  text-decoration: underline;

  color: var(--accent-color);
}

.modal-form__btn {
  display: block;

  padding: 10px 55px;
  margin: 0 auto;

  border-radius: 4px;
  border-color: var(--accent-color);

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover,
.modal-form__btn:focus {
  background-color: var(--primary-button-bcgcolor);
  border-color: var(--primary-button-bcgcolor);
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding-bottom: 0;
}

.section--white-theme {
  background-color: var(--secondary-button-bcgcolor);
}

.section__title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Features */

.features {
  display: flex;
}

.features__div {
  display: flex;

  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-button-bcgcolor);
  border-radius: 4px;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

.features__item--last {
  margin-right: 0;
}

.features__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* What are we doing */
.we-doing {
  display: flex;
}

.we-doing__item {
  position: relative;
  margin-right: 30px;
}

.we-doing__item--last {
  margin-right: 0;
}

.we-doing__img {
  display: block;
}

.we-doing__div {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px 0;
  text-align: center;

  background-color: var(--we-do-overlay);
}

.we-doing__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-background-color);
}

/* Our team */

.team {
  display: flex;
}

.team__item {
  background-color: var(--main-background-color);

  margin-right: 30px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item--last {
  margin-right: 0;
}

.team__img {
  display: block;
}

.team__div {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-background-color);
}

.social-links__item {
  width: 44px;
  height: 44px;

  margin-right: 10px;

  box-shadow: none;
}

.social-links__item--last {
  margin-right: 0;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link--white-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bcg-footer-icon);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__icon--white-theme {
  fill: var(--main-background-color);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--main-background-color);
}

/* Regular Customers */

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.customers__item--last {
  margin-right: 0;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
}

.customers__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: var(--accent-color);
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.page-footer__item {
  margin-right: 70px;
}

.page-footer__item--second {
  margin-right: 93px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--main-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  color: var(--accent-color);
}

.adress {
  width: 231px;

  font-style: inherit;
}

.adress__text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--main-background-color);
}

.adress__item {
  margin-bottom: 9px;
}

.adress__item--last {
  margin-bottom: 0;
}

.adress__link {
  display: inline-block;

  color: var(--foter-link-color);

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover,
.adress__link:focus {
  color: var(--accent-color);
}

.footer-form {
}

.footer-form__title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-background-color);
}

.footer-form__form {
  display: flex;

  align-items: center;
}

.footer-form__label {
  display: inline-block;
}

.footer-form__input {
  width: 358px;
  padding: 15px 16px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;

  color: var(--foter-link-color);

  background-color: transparent;
  border: 1px solid var(--form-border-footer-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: var(--foter-link-color);
}

/* Portfolio */

.portfolio-title {
  color: var(--main-background-color);
  background-color: var(--second-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Filter */

.secondary-button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--secondary-button-bcgcolor);
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .item + .item {
  margin-left: 8px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards-links {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-links:hover,
.cards-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 3);

  /* outline: 1px solid red; */
}

/* .cards-list .item:nth-child(3n) {
  margin-right: 0;
} */

/* .cards-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0; }*/

.cards-links .thumb {
  position: relative;
  overflow: hidden;
}

.cards-links .overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--overlay-cards-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-links .thumb-text {
  max-width: 322px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;

  color: var(--main-background-color);
}

.cards-links:hover .overlay,
.cards-links:focus .overlay {
  transform: translateY(0%);
}

.cards-list .img {
  display: block;
}

.cards-list .title-text {
  border: 1px solid var(--portfolio-cards-border);
  padding: 20px 24px;
}

.cards-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* outline: 1px solid red; */
}

.cards-list .text {
  margin: 0;

  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
