/* main background  #FFFFFF; */
/* second background #2F303A; */
/* logo text #000000 */
/* second text #212121 */
/* main text #757575 */
/* active #2196F3 */
:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --logo-text-color: #000000;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --foter-link-color: rgba(255, 255, 255, 0.6);
  --secondary-button-bcgcolor: #f5f4fa;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-span {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.header-contacts .link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--main-background-color);
  background-color: var(--second-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.primary-button {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer {
  background-color: var(--second-background-color);
}

.footer .logo {
  color: var(--main-background-color);
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
}

.footer .text {
  color: var(--main-background-color);
}

.footer .link {
  color: var(--foter-link-color);

  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.adress {
  font-style: inherit;
}

/* Portfolio */

.portfolio-title {
  color: var(--main-background-color);
  background-color: var(--second-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.secondary-button {
  color: var(--title-text-color);
  background-color: var(--secondary-button-bcgcolor);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.cards-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list .text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
